.wrapper{
    margin: 190px auto 0;
    width: 870px;
}

img {
    width: 780px;
}

ul.reset,
ul.reset li{
    display: block;
    padding: 0;
    margin:0;
    list-style: none
}


.gallery ul li {
    width: 200px;
    height:200px;
    margin: 0 10px 10px 0;
    position: relative;
    float: left;
}

img{
    border: none
}


.holder{
    position: absolute;
    top: 0;
    left:0;
    margin: -100px 0 0 -100px;
}